
#name{
    background-color: white;
}

#email {
    // margin-top: 10px;
    background-color: white;
}

#message {
    margin-top: -10px;
    width: 600px;
    // height: 200px;
    // color: white;
    background-color: white;
}



