#nameField {
    margin: auto;
    margin-left: 300px;
    margin-top: 100px;

}

#name {
    background-color: white;
    color: black;
}

#emailField {
    margin: auto;
    margin-left: 300px;
}

#email {
    background-color: white;
}


#messageField {
    margin: auto;
    margin-left: 300px;


}

#message {
    background-color: white;
    width: 900px;

}