
#contactFormName{
    margin-top: 7px;
    // background-color: grey;
}

#contactFormEmail {
    margin-top: 7px;
    // background-color: grey;
}

#contactFormMessage {
    margin-top: 7px;
    width: 600px;
    height: 300px;
    //background-color: grey;
}

#header {
    width: 80%;
    margin: auto;
}

#contact-form {
    border: 2px solid black;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 50px;
    // margin-top: 10px;
    padding-top: 25px;
}
