body {
    background-color: #4794B3;
    background-size: cover;
}

.text {
    color: black
}

#whyInfo {
    width: 80%;
    margin: auto;
    border: none;
}

#whatInfo {
    width: 80%;
    margin: auto;
}
#howInfo {
    width: 80%;
    margin: auto;
}
#whoInfo {
    width: 80%;
    margin: auto;
}

#buttonDemo {
    border: #4794B3;
    border-width: 0px;
}