body {
    background-color:white;
    background-size: cover;
}

h1, p {
    color: #4794B3;
}

#container1 {
    background-color: white;
}
#container2 {
    background-color: white;
}
#container3 {
    background-color: white;
}
#container4 {
    background-color: white;
    padding-bottom: 80px;
}
#btnContainer {
    background-color: white;
    text-align: center;

}

#whyInfo {
    width: 80%;
    margin: auto;
    border: none;
}

#whatInfo {
    width: 80%;
    margin: auto;
}
#howInfo {
    width: 80%;
    margin: auto;
}
#whoInfo {
    width: 80%;
    margin: auto;
}

