body {
    background-color: #4794B3;
    background-size: cover;
}

.text {
    color: black
}

#mainInfo {
    width: 80%;
    margin: auto;
}

#buttonDemo {
    background-color: #4794B3;
    border: none;
    border-width: 0px;

}